html {
    font-family: 'VT323', monospace;
    font-size: larger;
    color: rgb(0, 255, 55);

}

hr {
    color: rgb(0, 255, 55);
    border-style: dashed;
}

main {
    background-color: black;
}

.mentions {
    width: 400px;
}

